@media (width >= 640px) {
  .wrapper {
    max-width: 100%;
  }
}

@media (width >= 640px) and (width < 720px) {
  .menuContainer ul li {
    display: flex;
    flex-direction: column;
  }
}

@keyframes textGlow {
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #f0f,
      0 0 20px #f0f,
      0 0 25px #f0f,
      0 0 30px #f0f,
      0 0 35px #f0f;
  }

  50% {
    text-shadow:
      0 0 10px #ff0,
      0 0 20px #ff0,
      0 0 30px #ff0,
      0 0 40px #ff0,
      0 0 50px #ff0,
      0 0 60px #ff0,
      0 0 70px #ff0;
  }

  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #f0f,
      0 0 20px #f0f,
      0 0 25px #f0f,
      0 0 30px #f0f,
      0 0 35px #f0f;
  }
}

.animate-text-glow {
  animation: textGlow 1.5s;
  animation-iteration-count: 2;
}

.carouselContainer {
  margin: 0 auto;
  aspect-ratio: 10 / 6;
  transition: all 0.3s;
}

.carouselBtn {
  transition: background-color 100ms ease-in-out;
  transition: all 0.3s;
}

.carouselBtn:hover {
  background-color: rgba(0, 0, 0, 20%);
  transition: all 0.3s;
}

@keyframes animateFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.personCardSection {
  background-image: linear-gradient(43deg, #4158d0 50%, #fff 10%);
  transition: all 0.3s;
}

.animateIt {
  animation: animateFromLeft 1s alternate;
}

@media (width < 620px) {
  .personCardSection {
    box-shadow: none;
    background-image: conic-gradient(#4158d0, #fff);
  }
}

@media (width > 620px) and (width < 711px) {
  .personCardSection {
    background-image: linear-gradient(43deg, #4158d0 50%, #fff 10%);
  }
}

.wrapper {
  transition: all 0.3s;
}

@media (prefers-color-scheme: dark) {
  .wrapper {
    color: #fff;
    background-color: #000;
    box-shadow: 12px 12px 2px 100px rgba(250, 250, 250, 65.9%);
  }
}

@media (prefers-color-scheme: light) {
  .iconContainer {
    background-color: #000;
    transition: all 0.3s;
  }

  .iconContainer > * {
    color: #fff;
    transition: all 0.3s;
  }

  .personCardSection {
    box-shadow: 12px 12px 10px 10px rgba(24, 24, 24, 65.9%);
  }
}

@media (width > 700px) {
  .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform-origin: right center;
  }

  .link:hover::after {
    transform: scaleX(1);
    transition-duration: 0.4s;
    transform-origin: right center;
  }
}
