@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  font-family: Poppins, sans-serif;
}
