# Logs
logs
*.log
node_modules
dist

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store

# Next JS
.next/
next-env.d.ts

# Build
build
tsconfig.tsbuildinfo

# Local Netlify folder
.netlify

# Environments variables
.env
.docker.env
# Sentry Config File
.env.sentry-build-plugin
