.containerRow {
  display: flex;
}

.containerCol {
  width: 50%;
  border-right: 2px solid #000;
  height: 100vh;
  padding: 10px;
}

.containerCol:last-child {
  border: 0;
}

.myProfilePic {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 10px;
}

.firstContainerCol {
  position: relative;
  top: 30%;
  text-align: center;
}

.expeeduRow {
  display: flex;
}

.expeCol {
  width: 50%;
}

.eduCol {
  width: 50%;
}

.expeSection {
  margin-top: 20px;
}
