@tailwind base;
@tailwind components;
@tailwind utilities;

.containerCol:last-child {
  border: 0;
}

@keyframes glow {
  from {
    position: absolute;
  }

  to {
    color: gray;
    text-shadow:
      0 0 20px #00fff2,
      0 0 30px #00fff2,
      0 0 40px #00fff2,
      0 0 50px #00fff2,
      0 0 60px #00fff2,
      0 0 70px #00fff2,
      0 0 80px #00fff2,
      0 1 90px #00fff2;
  }
}

@keyframes moveLeft {
  from {
    left: 0;
  }

  to {
    left: 30%;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 100%;
  }
}
