@tailwind base;
@tailwind components;
@tailwind utilities;

.containerCol:last-child {
  border: 0;
}

@keyframes glow {
  from {
    position: absolute;
  }

  to {
    color: gray;
    text-shadow:
      0 0 20px #00fff2,
      0 0 30px #00fff2,
      0 0 40px #00fff2,
      0 0 50px #00fff2,
      0 0 60px #00fff2,
      0 0 70px #00fff2,
      0 0 80px #00fff2,
      0 1 90px #00fff2;
  }
}

@keyframes moveLeft {
  from {
    left: 0;
  }

  to {
    left: 30%;
  }
}

@media (width >= 640px) {
  .container {
    max-width: 100%;
  }
}

.iterateCountOnce {
  animation-iteration-count: 1;
}

@keyframes textGlow {
  0% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #f0f,
      0 0 20px #f0f,
      0 0 25px #f0f,
      0 0 30px #f0f,
      0 0 35px #f0f;
  }

  50% {
    text-shadow:
      0 0 10px #ff0,
      0 0 20px #ff0,
      0 0 30px #ff0,
      0 0 40px #ff0,
      0 0 50px #ff0,
      0 0 60px #ff0,
      0 0 70px #ff0;
  }

  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 15px #f0f,
      0 0 20px #f0f,
      0 0 25px #f0f,
      0 0 30px #f0f,
      0 0 35px #f0f;
  }
}

.animate-text-glow {
  animation: textGlow 1.5s;
  animation-iteration-count: 2;
}

.carouselContainer {
  margin: 0 auto;
  aspect-ratio: 10 / 6;
}

.carouselBtn {
  transition: background-color 100ms ease-in-out;
}

.carouselBtn:hover {
  background-color: rgba(0, 0, 0, 20%);
}

@keyframes animateFromUp {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.personCardSection {
  background-image: linear-gradient(43deg, #4158d0 50%, #fff 10%);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 50%);
}

.animateIt {
  animation: animateFromUp 2s alternate;
}
