*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.container {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(yellow, red, blue);
}
