* {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.container {
  background-image: conic-gradient(
    red 0deg,
    red 90deg,
    yellow 90deg,
    green 180deg,
    green 270deg,
    blue 270deg
  );
  text-shadow: #fc0 1px 0 10px;
}
