* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  background: conic-gradient(red 45deg, yellow 90deg, green 210deg);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-weight: bold;
}
